<template>
  <div>
    <div class="col-md-12 row">
      <div class="col-md-6">
        <div class="row">
          <div class="form-group">
            <label for="buscar">Target</label>
            <input type="text" id="buscar" v-model="id" class="form-control" >
          </div>
          <div class="form-group">
            <label for="inicio">Inicio</label>
            <input type="text" v-model="inicio" class="form-control">
          </div>
          <div class="form-group">
            <label for="cuantasSillas">Sillas a buscar</label>
            <input type="text" id="cuantasSillas" v-model="cuantasSillas" class="form-control">
          </div>
        </div>
        <div class="row">
          <button @click="busquedaAnchura" class="btn btn-sm btn-success">Busqueda por anchura</button>
          <button @click="busquedaProfundidad" class="btn btn-sm btn-success">Busqueda por profundidad </button>
          <button @click="busquedaPrimeroElMejor" class="btn btn-sm btn-success">Busqueda primero el mejor</button>
          <button @click="busquedaDeSillas" class="btn btn-sm btn-success">Buscar sillas</button>
          <button @click="busquedaColina" class="btn btn-sm btn-success">Busqueda por ascenso a la colina</button>
          <button @click="busquedaAestrella" class="btn btn-sm btn-success">Busqueda por A estrella</button>
        </div>
        <div class="row">
          <div class="form-group">
            <label for="niveles">Niveles</label>
            <input type="number" id="niveles" class="form-control" v-model="niveles">
            <button @click="busquedaProfundidadIterativa" class="btn btn-sm btn-success">Busqueda iterativa</button>
          </div>
        </div>
        <div class="row">
          <h3>Resultados (Busquedas)</h3>
          <table class="table ">
            <thead>
              <tr>
                <th>
                  Nodo Visitado
                </th>
                <th>
                  Papa de nodo visitado
                </th>
                <th>
                  Distancia a target o total de sillas posibles
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="resultado in resultadoBusquedas">
                <td>{{resultado.nodo}}</td>
                <td>{{resultado.papa}}</td>
                <td>{{resultado.distancia}}</td>
              </tr>
            </tbody>
          </table>
          <br />
          <p><strong>Total iteraciones: </strong>{{iteraciones}}</p>
          <br />
          <p><strong>Encontrado: </strong>{{encontrado}}</p>
        </div>
        <div class="row">
          <h3>Resultados (Sillas)</h3>
          <table class="table ">
            <thead>
              <tr>
                <th>
                  Edificio visitado
                </th>
                <th>
                  Sillas en el edificio
                </th>
                <th>
                  Sillas actuales
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="resultado in resultadoBusquedaSillas">
                <td>{{resultado.edificio}}</td>
                <td>{{resultado.sillas}}</td>
                <td>{{resultado.actuales}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <p><strong>Grafo:</strong></p>
        </div>
        <ul>
          <li v-for="nodo in nodos">
            {{nodo.id}}
            <ul>
              <li v-for="arista in nodo.aristas">
                {{arista.nodo.id}}
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <div class="row">
          <p><strong>Navegacion</strong></p>
        </div>
        <div class="row">
          <p>Papa: {{nodoPapa}}</p>
        </div>
        <div
        class="row"
        v-for="hijo in nodoNavegante.aristas">
          <button class="btn btn-default" @click="navegar(hijo.nodo)">{{hijo.nodo.id}}</button>
        </div>
        <div class="row">
          <button class="btn btn-danger" @click="reiniciarNavegacion">Reiniciar</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {Nodo} from './Grafo.js';

export default {
  data () {
    return {
      'nodos' : [
        new Nodo('e1',{"x" : 124,"y":703},0), //0
        new Nodo('e2',{"x" : 297,"y":677},0), //1
        new Nodo('e3',{"x" : 918,"y":678},0), //2
        new Nodo('a',{"x" : 287,"y": 494},10), //3
        new Nodo('b',{"x" : 669,"y": 438},50), //4
        new Nodo('c',{"x" : 545,"y": 507},5), //5
        new Nodo('d',{"x" : 627,"y": 210},30), //6
        new Nodo('e',{"x" : 304,"y": 184},55), //7
        new Nodo('f',{"x" : 399,"y": 418},15), //8
        new Nodo('g',{"x" : 217,"y": 346},11), //9
        new Nodo('h',{"x" : 217,"y": 344},2), //10

        new Nodo('i',{"x" : 113,"y": 184},1), //11
        new Nodo('j',{"x" : 248,"y": 535},22), //12
        new Nodo('k',{"x" : 407,"y": 122},1), //13
        new Nodo('l',{"x" : 521,"y": 92},66), //14
        new Nodo('o',{"x" : 672,"y": 112},3), //15
        new Nodo('p',{"x" : 782,"y": 116},1), //16
        new Nodo('r',{"x" : 643,"y": 636},9) //17
      ],
      'niveles' : 1,
      'resultadoBusquedas' : new Array(),
      'resultadoBusquedaSillas' : new Array(),
      'iteraciones' : 0,
      'encontrado' : false,
      'id' : 'e1',
      'nodoNavegante' : new Array(),
      'nodoPapa' : "",
      'noMas' : 30,
      'inicio' : 'e1',
      'cuantasSillas' : 0
    }
  },
  methods : {
    navegar (hijo) {
      this.nodoNavegante = hijo;
      this.nodoPapa = hijo.id;
    },
    reiniciarNavegacion(){
      this.nodoNavegante = this.nodos[0];
      this.nodoPapa = this.nodos[0].id;
    },
    busquedaProfundidadIterativa () {
      this.iniciarVariables();
      let visitado = new Array();
      let flag = true;
      let nodo = this.nodos[0];
      let nivel = 1;
      nodo.papa = nodo;
      let regresar = false;
      while(flag){
        this.iteraciones++;
        if(nodo.id == this.id){
          visitado.push(nodo.id);
          this.resultadoBusquedas.push({"nodo" : nodo.id, "papa" : nodo.papa.id});
          this.encontrado = true;
          flag = false;
          break;
        }else if(nodo.papa.id == nodo.id && this.iteraciones > 1){
          let sinVisitar = false;
          for(let i = 0; i < nodo.aristas.length; i ++){
            if(!visitado.includes(nodo.aristas[i].nodo.id)){
              let papa = nodo;
                nodo = nodo.aristas[i].nodo;
                nodo.papa = papa;
                nivel ++;
                sinVisitar = true;
                break;
            }
          }
          if(!sinVisitar){
            flag = false;
          }
        }else if(!visitado.includes(nodo.id)){
          let entre = false;
          visitado.push(nodo.id);
          this.resultadoBusquedas.push({"nodo" : nodo.id, "papa" : nodo.papa.id});
          for(let i = 0; i < nodo.aristas.length; i ++){
            if(!visitado.includes(nodo.aristas[i].nodo.id)){
              if(nivel > this.niveles){
                nodo = nodo.papa;
                regresar = true;
                nivel --;
                break;
              }else{
                let papa = nodo;
                nodo = nodo.aristas[i].nodo;
                nodo.papa = papa;
                nivel ++;
                break;
              }              
              break;
            }
          }
        }else if(regresar){
          for(let i = 0; i < nodo.aristas.length; i ++){
            if(!visitado.includes(nodo.aristas[i].nodo.id)){
              let papa = nodo;
              nodo = nodo.aristas[i].nodo;
              nodo.papa = papa;
              break;
            }
            regresar = false;
          }
        }else{
          nodo = nodo.papa;
          regresar = true;
          nivel --;
        }
      }
      if(!this.encontrado && (this.niveles < this.noMas)){
        this.niveles++;
        this.busquedaProfundidadIterativa();
      }
    },
    busquedaAnchura () {
      this.iniciarVariables();
      let flag = true;
      let nodo = this.nodos[0];
      let regresar = false;
      let ingresado = new Array();
      let visitado = new Array();
      nodo.papa = nodo;
      while(flag){
        if(nodo.id == this.id){
          visitado.push(nodo.id);
          this.resultadoBusquedas.push({"nodo" : nodo.id, "papa" : nodo.papa.id});
          this.encontrado = true;
          flag = false;
          break;
        }else if(nodo.papa.id == nodo.id && this.iteraciones > 1){
          flag = false;
          break;
        }else if(!ingresado.includes(nodo.id)){
          this.iteraciones++;
          visitado.push(nodo.id);
          ingresado.push(nodo.id);
          if(this.iteraciones == 1){
            this.resultadoBusquedas.push({"nodo" : nodo.id, "papa" : nodo.papa.id});
          } 
          for(let i = 0; nodo.aristas.length > i ; i++){
            if(!visitado.includes(nodo.aristas[i].nodo.id)){
              visitado.push(nodo.aristas[i].nodo.id);
              this.resultadoBusquedas.push({"nodo" : nodo.aristas[i].nodo.id, "papa" : nodo.id});
            }
            if(nodo.aristas[i].nodo.id == this.id){
              flag = false;
              this.encontrado = true;
              break;
            }
          }
          for(let i = 0; nodo.aristas.length > i ; i++){
            if(!ingresado.includes(nodo.aristas[i].nodo.id)){
              let papa = nodo;
              nodo = nodo.aristas[i].nodo;
              nodo.papa = papa;
              break;
            }
          }
        }else if(regresar){
          for(let i = 0; i < nodo.aristas.length; i ++){
            if(!ingresado.includes(nodo.aristas[i].nodo.id)){
              let papa = nodo;
              nodo = nodo.aristas[i].nodo;
              nodo.papa = papa;
              break;
            }
            regresar = false;
          }
        }else{
          nodo = nodo.papa;
          regresar = true;
        }
      }
    },
    iniciarVariables(){
      this.iteraciones = 0;
      this.encontrado = false;
      this.resultadoBusquedas = new Array();
      this.resultadoBusquedaSillas = new Array();
    },
    obtenerDistancia(nodo1,nodo2){
      return Math.sqrt( (Math.pow(nodo1.x - nodo2.x,2)) + (Math.pow(nodo1.y - nodo2.y,2)) );
    },
    obtenerNodo(id){
      for(let i = 0; i < this.nodos.length; i ++){
        if(this.nodos[i].id == id){
          return this.nodos[i];
        }
      }
    },
    posiblesSillas(edificio) {
      let posibles = Math.floor(edificio.sillas * .25);
      return Math.floor((Math.random()*posibles)+1);
    },
    busquedaDeSillas(){
      this.iniciarVariables();
      let visitado = new Array();
      let flag = true;
      let nodo = this.obtenerNodo(this.inicio);
      nodo.papa = nodo;
      let inicio = this.obtenerNodo(this.inicio);
      let regresar = false;
      let sillasActuales = 0;
      while (flag) {
        this.iteraciones++;
        if((nodo.papa.id == nodo.id && this.iteraciones > 1) || this.iteraciones == 100){
          this.resultadoBusquedas.push(
            {
              "nodo" : nodo.id,
              "papa" : nodo.papa.id,
              "distancia" : "Inicio"
            });
          flag = false;
        }else if(!visitado.includes(nodo.id)){
          visitado.push(nodo.id);
          this.resultadoBusquedas.push(
            {
              "nodo" : nodo.id,
              "papa" : nodo.papa.id,
              "distancia" : nodo.sillas
            });
          let sillasEnEdicio = this.posiblesSillas(nodo);
          sillasActuales += sillasEnEdicio;
          if((this.cuantasSillas <= sillasActuales)){
            sillasActuales = this.cuantasSillas;
            this.resultadoBusquedaSillas.push({
              "edificio" : nodo.id,
              "sillas" : sillasEnEdicio,
              "actuales" : sillasActuales
            });
            this.busquedaPrimeroElMejor("NAN",nodo,inicio);
            flag = false;
          }else{
            this.resultadoBusquedaSillas.push({
              "edificio" : nodo.id,
              "sillas" : sillasEnEdicio,
              "actuales" : sillasActuales
            });
            let auxiliar = {"nodo": null, "papa": null, "flag" : false};
            let anterior = -1;
            for(let i = 0; i < nodo.aristas.length; i++){
              if(!visitado.includes(nodo.aristas[i].nodo.id)){
                if(anterior < nodo.aristas[i].nodo.sillas){
                  auxiliar.papa = nodo;
                  auxiliar.nodo = nodo.aristas[i].nodo;
                  auxiliar.flag = true;
                  anterior = nodo.aristas[i].nodo.sillas;
                }
              }
            }
            if(auxiliar.flag){
              nodo = auxiliar.nodo;
              nodo.papa = auxiliar.papa;
            }
          }
        }else if(regresar){
          let auxiliar = {"nodo": null, "papa": null, "flag" : false}; 
          let anterior = -1;
          for(let i = 0; i < nodo.aristas.length; i++){
            if(!visitado.includes(nodo.aristas[i].nodo.id)){
              if(anterior < nodo.aristas[i].nodo.sillas){
                auxiliar.papa = nodo;
                auxiliar.nodo = nodo.aristas[i].nodo;
                auxiliar.flag = true;
                anterior = nodo.aristas[i].nodo.sillas;
              }
            }
          }
          if(auxiliar.flag){
            nodo = auxiliar.nodo;
            nodo.papa = auxiliar.papa;
          }
          regresar = false;
        }else{
          nodo = nodo.papa;
          regresar = true;
        }
      }
    },
    busquedaAestrella(){
      this.iniciarVariables();
      this.iteraciones = 0;
      this.encontrado = false;
      let flag = true;
      let nodo = this.obtenerNodo(this.inicio);
      let nodoAnterior = nodo;
      nodo.papa = nodo;
      let target = this.obtenerNodo(this.id);
      let openSet = new Array();
      let closeSet = new Array();
      while(flag){
        this.iteraciones ++;
        console.log(this.iteraciones);
        if(this.iteraciones > 10 || (this.iteraciones > 1 && nodo.id == nodo.papa)){
          flag = false;
          break;
        }else if(nodo.id == this.id){
          console.log(closeSet);
          this.resultadoBusquedas.push({"nodo" : nodo.id, "papa": nodo.papa.id, "distancia" : this.obtenerDistancia(nodo.posicion,target.posicion)});
          this.encontrado = true;
          flag = false;
          break;
        }else {
          this.resultadoBusquedas.push(
            {
            "nodo" : nodo.id,
            "papa" : nodo.papa.id,
            "distancia" : this.obtenerDistancia(nodo.posicion,target.posicion),
            }
          );
          let distanciaAnterior = 99999999999;
          let auxiliar = {"nodo" : null, "papa" : null, "flag" : false};
          for(let i = 0; i < nodo.aristas.length; i ++){
              if(!this.existe(closeSet,nodo.aristas[i].nodo)){
                nodo.aristas[i].nodo.papa = nodo;
                openSet.push(nodo.aristas[i]);
                let distanciaActual = this.obtenerDistancia(nodo.aristas[i].nodo.posicion,target.posicion);
                distanciaActual += nodo.aristas[i].distancia;
                if(distanciaActual < distanciaAnterior){
                  auxiliar.papa = nodo;
                  auxiliar.nodo = nodo.aristas[i].nodo;
                  auxiliar.flag = true;
                }
                distanciaAnterior = distanciaActual;
              }
          }
          if(auxiliar.flag){
            
            for(let i = 0; i < openSet.length; i ++){
              let distanciaActual = this.obtenerDistancia(openSet[i].nodo.posicion,target.posicion);
              distanciaActual += openSet[i].distancia;
              if(distanciaAnterior > distanciaActual){
                console.log(openSet[i].nodo.id);
                auxiliar.papa = openSet[i].nodo.papa;
                auxiliar.nodo = openSet[i].nodo;
              }
            }
            nodo = auxiliar.nodo;
            nodo.papa = auxiliar.papa;
            closeSet.push(nodo);
            this.eliminarNodo(openSet,nodo);
          }else{
            for(let i = 0; i < openSet.length; i ++){
              let distanciaActual = this.obtenerDistancia(openSet[i].nodo.posicion,target.posicion);
              distanciaActual += openSet[i].distancia;
              if(distanciaAnterior > distanciaActual){
                console.log(openSet[i].nodo.id);
                auxiliar.papa = openSet[i].nodo.papa;
                auxiliar.nodo = openSet[i].nodo;
              }
            }
            closeSet.push(nodo);
            this.eliminarNodo(openSet,nodo);
          }
        }
        console.log(openSet);
      }
    },
    eliminarNodo(arreglo,busqueda){
      for(let i = 0; i < arreglo.length; i ++){
        console.log("Eliminar",(arreglo[i].nodo.id == busqueda.id),arreglo[i].nodo.id,busqueda.id);
        if(arreglo[i].nodo.id == busqueda.id){
          arreglo.splice(i,1);
        }
      }
    },
    existe (arreglo,busqueda){
      for(let i = 0; i < arreglo.length; i++){
        console.log("Existe",arreglo[i].id == busqueda.id,arreglo[i].id,busqueda.id);
        if(arreglo[i].id == busqueda.id){
          return true;
        }
      }
      return false;
    },
     busquedaColina(){
      this.iniciarVariables();
      this.iteraciones = 0;
      this.encontrado = false;
      let flag = true;
      let nodo = this.obtenerNodo(this.inicio);
      let nodoAnterior = nodo;
      let contador = 0;
      nodo.papa = nodo;
      let target = this.obtenerNodo(this.id);
      while(flag){
        this.iteraciones ++;
        if(nodo.id == this.id){
          this.resultadoBusquedas.push({"nodo" : nodo.id, "papa": nodo.papa.id, "distancia" : this.obtenerDistancia(nodo.posicion,target.posicion)});
          this.encontrado = true;
          flag = false;
          break;
        }else if(this.iteraciones == 100){ // no aplica
          flag = false;
        }else{
          this.resultadoBusquedas.push(
            {
            "nodo" : nodo.id,
            "papa" : nodo.papa.id,
            "distancia" : this.obtenerDistancia(nodo.posicion,target.posicion)
            }
          );
          let distanciaAnterior = 99999999999;
          let auxiliar = {"nodo" : null, "papa" : null, "flag" : false};
          for(let i = 0; i < nodo.aristas.length; i ++){
              let distanciaActual = this.obtenerDistancia(nodo.aristas[i].nodo.posicion,target.posicion);
              if(distanciaActual < distanciaAnterior){
                auxiliar.papa = nodo;
                auxiliar.nodo = nodo.aristas[i].nodo;
                auxiliar.flag = true;
              }
              distanciaAnterior = distanciaActual;
          }
          if(auxiliar.flag){
            nodo = auxiliar.nodo;
            nodo.papa = auxiliar.papa;
          }
        }
      }
    },
    busquedaPrimeroElMejor (event,nodo = this.nodos[0],target = this.obtenerNodo(this.id)){
      if(event != "NAN"){
        this.iniciarVariables();
      }
      let visitado = new Array();
      this.iteraciones = 0;
      this.encontrado = false;
      let flag = true;
      nodo.papa = nodo;
      let regresar = false;
      while(flag){
        this.iteraciones ++;
        if(nodo.id == this.id || this.obtenerDistancia(nodo.posicion,target.posicion) == 0){
          visitado.push(nodo.id);
          this.resultadoBusquedas.push({"nodo" : nodo.id, "papa" : nodo.papa.id, "distancia" : this.obtenerDistancia(nodo.posicion,target.posicion)});
          this.encontrado = true;
          flag = false;
          break;
        }else if(nodo.papa.id == nodo.id && this.iteraciones > 1){
          flag = false;
        }else if(!visitado.includes(nodo.id)){
          visitado.push(nodo.id);
          this.resultadoBusquedas.push(
            {
              "nodo" : nodo.id,
              "papa" : nodo.papa.id,
              "distancia" : this.obtenerDistancia(nodo.posicion,target.posicion)
            });
          let distanciaAnterior = 99999999999999;
          let auxiliar = {"nodo": null, "papa": null, "flag" : false};
          for(let i = 0; i < nodo.aristas.length; i ++){
            if(!visitado.includes(nodo.aristas[i].nodo.id)){
              let distanciaActual = this.obtenerDistancia(nodo.aristas[i].nodo.posicion,target.posicion);
              if(distanciaActual < distanciaAnterior){
                auxiliar.papa = nodo;
                auxiliar.nodo = nodo.aristas[i].nodo;
                auxiliar.flag = true;
              }
              distanciaAnterior = distanciaActual;
            }
          }
          if(auxiliar.flag){
            nodo = auxiliar.nodo;
            nodo.papa = auxiliar.papa;
          }
        }else if(regresar){
          let distanciaAnterior = 99999999999999;
          let auxiliar = {"nodo": null, "papa": null, "flag" : false};
          for(let i = 0; i > nodo.aristas.length; i ++){
            if(!visitado.includes(nodo.aristas[i].nodo.id)){
              let distanciaActual = this.obtenerDistancia(nodo.aristas[i].nodo.posicion,target.posicion);
              if(distanciaActual < distanciaAnterior){
                auxiliar.papa = nodo;
                auxiliar.nodo = nodo.aristas[i].nodo;
                auxiliar.flag = true;
              }
              distanciaAnterior = distanciaActual;
            }
            regresar = false;
          }
          if(auxiliar.flag){
            nodo = auxiliar.nodo;
            nodo.papa = auxiliar.papa;
          }
        }else{
          nodo = nodo.papa;
          regresar = true;
        }
      }
    },
    busquedaProfundidad () {
      this.iniciarVariables();
      let visitado = new Array();
      let flag = true;
      let nodo = this.nodos[0];
      nodo.papa = nodo;
      let regresar = false;
      while(flag){
        this.iteraciones++;
        if(nodo.id == this.id){
          visitado.push(nodo.id);
          this.resultadoBusquedas.push({"nodo" : nodo.id, "papa" : nodo.papa.id});
          this.encontrado = true;
          flag = false;
          break;
        }else if(nodo.papa.id == nodo.id && this.iteraciones > 1){
          flag = false;
        }else if(!visitado.includes(nodo.id)){
          visitado.push(nodo.id);
          this.resultadoBusquedas.push({"nodo" : nodo.id, "papa" : nodo.papa.id});
          for(let i = 0; i < nodo.aristas.length; i ++){
            if(!visitado.includes(nodo.aristas[i].nodo.id)){
              let papa = nodo;
              nodo = nodo.aristas[i].nodo;
              nodo.papa = papa;
              break;
            }
          }
        }else if(regresar){
          for(let i = 0; i < nodo.aristas.length; i ++){
            if(!visitado.includes(nodo.aristas[i].nodo.id)){
              let papa = nodo;
              nodo = nodo.aristas[i].nodo;
              nodo.papa = papa;
              break;
            }
            regresar = false;
          }
        }else{
          nodo = nodo.papa;
          regresar = true;
        }
      }
    }
  },
  created () {
    for(let i = 0; i < this.nodos.length; i ++){
      switch(this.nodos[i].id){
        case 'e1' :  
          this.nodos[i].setArista(
            {
              "nodo" : this.nodos[12],
              "distancia" : 2
            },
            {
              "nodo" : this.nodos[10],
              "distancia" : 3
            },
            {
              "nodo" : this.nodos[7],
              "distancia" : 4
            }
          );
          break;
        case 'e2' :
          this.nodos[i].setArista(
            {
              "nodo" : this.nodos[12],
              "distancia" : 2
            },
            {
              "nodo" : this.nodos[7],
              "distancia" : 1
            }
          );
          break;
        case 'e3' :
          this.nodos[i].setArista(
            {
              "nodo" : this.nodos[3],
              "distancia" : 2
            },
            {
              "nodo" : this.nodos[4],
              "distancia" : 3
            },
            {
              "nodo" : this.nodos[17],
              "distancia" : 3
            }
          );
          break;
        case 'a' :
          this.nodos[i].setArista(
            {
              "nodo" : this.nodos[4],
              "distancia" : 1
            },
            {
              "nodo" : this.nodos[2],
              "distancia" : 2
            },
            {
              "nodo" : this.nodos[6],
              "distancia" : 2
            },
            {
              "nodo" : this.nodos[17],
              "distancia" : 1
            }
          );
          break;
        case 'b' :
          this.nodos[i].setArista(
            {
              "nodo" : this.nodos[3],
              "distancia" : 1
            },
            {
              "nodo" : this.nodos[5],
              "distancia" : 1
            },
            {
              "nodo" : this.nodos[17],
              "distancia" : 1
            },
            {
              "nodo" : this.nodos[6],
              "distancia" : 2
            },
            {
              "nodo" : this.nodos[2],
              "distancia" : 3
            },
            {
              "nodo" : this.nodos[8],
              "distancia" : 4
            }
          );
          break;
        case 'c' :
          this.nodos[i].setArista(
            {
              "nodo" : this.nodos[4],
              "distancia" : 1
            },
            {
              "nodo" : this.nodos[8],
              "distancia" : 2
            }
          );
          break;
        case 'd' :
          this.nodos[i].setArista(
            {
              "nodo" : this.nodos[4],
              "distancia" : 1
            },{
              "nodo" : this.nodos[15],
              "distancia" : 1
            },
            {
              "nodo" : this.nodos[14],
              "distancia" : 1
            },
            {
              "nodo" : this.nodos[13],
              "distancia" : 2
            },
            {
              "nodo" : this.nodos[3],
              "distancia" : 4
            },
            {
              "nodo" : this.nodos[16],
              "distancia" : 1
            },
            {
              "nodo" : this.nodos[8],
              "distancia" : 4
            }
          );
          break;
        case 'e' :
          this.nodos[i].setArista(
            {
              "nodo" : this.nodos[13],
              "distancia" : 1
            },
            {
              "nodo" : this.nodos[8],
              "distancia" : 2
            },
            {
              "nodo" : this.nodos[9],
              "distancia" : 2
            },
            {
              "nodo" : this.nodos[11],
              "distancia" : 3
            },
            {
              "nodo" : this.nodos[10],
              "distancia" : 3
            }
          );
          break;
        case 'f' :
          this.nodos[i].setArista(
            {
              "nodo" : this.nodos[7],
              "distancia" : 2
            },
            {
              "nodo" : this.nodos[9],
              "distancia" : 1
            },
            {
              "nodo" : this.nodos[12],
              "distancia" : 3
            },
            {
              "nodo" : this.nodos[4],
              "distancia" : 4
            },
            {
              "nodo" : this.nodos[5],
              "distancia" : 3
            }
          );
          break;
        case 'g' :
          this.nodos[i].setArista(
            {
              "nodo" : this.nodos[8],
              "distancia" : 1
            },
            {
              "nodo" : this.nodos[7],
              "distancia" : 1
            },
            {
              "nodo" : this.nodos[10],
              "distancia" : 1
            },
            {
              "nodo" : this.nodos[12],
              "distancia" : 2
            }
          );
          break;
        case 'h' :
          this.nodos[i].setArista(
            {
              "nodo" : this.nodos[9],
              "distancia" : 1
            },
            {
              "nodo" : this.nodos[12],
              "distancia" : 2
            },
            {
              "nodo" : this.nodos[7],
              "distancia" : 2
            },
            {
              "nodo" : this.nodos[11],
              "distancia" : 3
            },
            {
              "nodo" : this.nodos[0],
              "distancia" : 4
            }
          );
          break;
        case 'i' :
          this.nodos[i].setArista(
            {
              "nodo" : this.nodos[7],
              "distancia" : 1
            },
            {
              "nodo" : this.nodos[0],
              "distancia" : 4
            },
            {
              "nodo" : this.nodos[12],
              "distancia" : 3
            },
            {
              "nodo" : this.nodos[10],
              "distancia" : 2
            }
          );
          break;
        case 'j' :
          this.nodos[i].setArista(
            {
              "nodo" : this.nodos[0],
              "distancia" : 2
            },
            {
              "nodo" : this.nodos[1],
              "distancia" : 2
            },
            {
              "nodo" : this.nodos[9],
              "distancia" : 1
            },
            {
              "nodo" : this.nodos[10],
              "distancia" : 1
            },
            {
              "nodo" : this.nodos[11],
              "distancia" : 3
            },
            {
              "nodo" : this.nodos[8],
              "distancia" : 2
            }
          );
          break;
        case 'k' : 
          this.nodos[i].setArista(
            {
              "nodo" : this.nodos[7],
              "distancia" : 1
            },
            {
              "nodo" : this.nodos[14],
              "distancia" : 1
            },
            {
              "nodo" : this.nodos[6],
              "distancia" : 2
            }
          );
          break;
        case 'l' : 
          this.nodos[i].setArista(
            {
              "nodo" : this.nodos[13],
              "distancia" : 1
            },
            {
              "nodo" : this.nodos[15],
              "distancia" : 1
            },
            {
              "nodo" : this.nodos[6],
              "distancia" : 2
            }
          );
          break;
        case 'o' :
          this.nodos[i].setArista(
            {
              "nodo" : this.nodos[14],
              "distancia" : 1
            },
            {
              "nodo" : this.nodos[16],
              "distancia" : 1
            },
            {
              "nodo" : this.nodos[6],
              "distancia" : 2
            }
          );
          break;
        case 'p' :
          this.nodos[i].setArista(
            {
              "nodo" : this.nodos[6],
              "distancia" : 3
            },
            {
              "nodo" : this.nodos[15],
              "distancia" : 1
            }
          );
          break;
        case 'r' :
          this.nodos[i].setArista(
            {
              "nodo" : this.nodos[2],
              "distancia" : 4
            },
            {
              "nodo" : this.nodos[4],
              "distancia" : 2
            },
            {
              "nodo" : this.nodos[3],
              "distancia" : 3
            }
          );
          break;
      }
    }
    this.nodoNavegante = this.nodos[0];
    this.nodoPapa = this.nodos[0].id;
  }
}
</script>

<style>

</style>
